<div class="home-buttons-container">
  <div class="home-button">
    <button type="button" mat-raised-button color="primary" [routerLink]="'/form-1-control-name'">form-1-control-name</button>
  </div>
  <div class="home-button">
    <button type="button" mat-raised-button color="primary" [routerLink]="'/form-1-control-age'">form-1-control-age</button>
  </div>
  <div class="home-button">
    <button type="button" mat-raised-button color="primary" [routerLink]="'/form-1-control-email'">form-1-control-email</button>
  </div>
  <div class="home-button">
    <button type="button" mat-raised-button color="primary" [routerLink]="'/form-1-control-comment'">form-1-control-comment</button>
  </div>
  <div class="home-button">
    <button type="button" mat-raised-button color="primary" [routerLink]="'/success'">success</button>
  </div>
  <div class="home-button">
    <button type="button" mat-raised-button color="primary" [routerLink]="'/error'">error</button>
  </div>
  <div class="home-button">
    <button type="button" mat-raised-button color="primary" [routerLink]="'/auth-single-page'">auth-single-page</button>
  </div>
  <div class="home-button">
    <button type="button" mat-raised-button color="primary" [routerLink]="'/register'">register</button>
  </div>
  <div class="home-button">
    <button type="button" mat-raised-button color="primary" [routerLink]="'/auth-bcnd'">auth-bcnd</button>
  </div>
  <div class="home-button">
    <button type="button" mat-raised-button color="primary" [routerLink]="'/register-adv'">register-adv</button>
  </div>
</div>
